<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">

    <script type="text/javascript" src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <title>Title</title>
  </head>

  <body>
    <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1 id = "project_title">Vuong Nguyen: Data Science Portfolio</h1>
            <h2 id = "project_tagline">Projects and Assignments</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}
      
      <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h2>About me</h2>
          <p>I am Vuong Nguyen. I'm currently a student at University of California, Davis. I am majoring in Statistics.</p>
        
            <p>This is a page for the collection of my prior assignments from various classes in the past as well as 
              personal projects for the future.</p>    
            <p>Statistics is a subject of interest to me not only for its many practical purposes but also for 
                the way its understanding allows for a different viewing angle into problems, academics and otherwise.
                Furthermore, the constantly growing world of data in the age of digitalization alongside the advents of cutting 
                edge technological innovations like machine-learning and deep-learning makes for a wonderfully enriching learning experience
              Although I am relatively new to this world, I am eager to continue learning and striving to become better. </p>
             <p>Contact: vminguyen@ucdavis.edu</p>
        
        
        <h2>141B</h2>
        <p>Python programming</p>
<table>
  <tr><th>Project</th><th>Description</th></tr>
  <tr><td><a href="Lab+2">Lab 2</a></td><td>Start pythoning</td>
  <tr><td><a href="Lab+3">Lab 3</a></td><td>Wines and Numpy</td>
  <tr><td><a href="Lab+4">Lab 4</a></td><td>Crushing College Debt: Analysis and Visulization</td>
  <tr><td><a href="assignment1">Assignment 1</a></td><td>Doomsday Algorithm: Function building</td></tr>
  <tr><td><a href="assignment2">Assignment 2</a></td><td>Cat: Image Processing</td></tr>
  <tr><td><a href="assignment4">Assignment 4</a></td><td>Fruits and Vegetables: APIs, requests, search</td></tr>
  <tr><td><a href="assignment5">Assignment 5</a></td><td>The Aggie: WebScraping, BeautifulSoup, Text Processing</td></tr>
  <tr><td><a href="assignment6">Assignment 6</a></td><td>San Francisco database: SQL, mapping</td></tr>
  <tr><td><a href = "https://github.com/aschi2/141BProject">Final Project</a></td><td>
    (Link to GitHub page)</td></tr
        </table>
    
   </div>
  </body>
</html>
